Repository shamilkotta/react_todo, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, gh-actions, components, documentation

.github/labeler.yml:

dependencies:
  - package.json

gh-actions:
  - .github/workflows/**/*

components:
  - src/components/**/*

documentation:
  - README.md
  - CODE_OF_CONDUCT.md

test:bad-pr
  src/index.js
Labels: none

setup: code format
  .github/workflows/ci.yml
  .husky/pre-commit
Labels: gh-actions

setup: format
  .github/workflows/ci.yml
Labels: gh-actions

fix: node version fix
  .github/workflows/ci.yml
Labels: gh-actions

test: bad-pr
  src/index.js
Labels: none

fix: ci error
  .github/workflows/ci.yml
Labels: gh-actions

test:bad-pr2
  src/index.js
Labels: none

style: code files prettified
  src/index.js
Labels: none

test: format-check
  src/index.js
Labels: none

style: code files prettified
  src/index.js
Labels: none

setup: run format
  .github/workflows/ci.yml
Labels: gh-actions

Update index.js
  src/index.js
Labels: none

feat: todo layout
  src/App.css
  src/App.jsx
  src/logo.svg
Labels: none

feat: todo group
  src/App.css
  src/App.jsx
Labels: none

feat: progress and done board
  src/App.jsx
Labels: none

Updates
  asset-manifest.json
  index.html
  static/css/main.073c9b0a.css
  static/css/main.073c9b0a.css.map
  static/css/main.80b4da77.css
  static/css/main.80b4da77.css.map
  static/js/main.9deb564a.js
  static/js/main.9deb564a.js.LICENSE.txt
  static/js/main.9deb564a.js.map
  static/js/main.bf71c404.js
  static/js/main.bf71c404.js.map
  static/media/logo.6ce24c58023cc2f8fd88fe9d219db6c6.svg
Labels: none

test: lint-staged
  .husky/pre-commit
  public/index.html
Labels: none

test: lint-staged
  package.json
Labels: dependencies

fix: precommit hook updated
  .husky/pre-commit
  package.json
Labels: dependencies

Updates
  index.html
Labels: none

favicon change
  public/favicon.ico
  public/index.html
  public/logo.png
  public/logo192.png
  public/logo512.png
Labels: none

Updates
  favicon.ico
  index.html
  logo.png
  logo192.png
  logo512.png
Labels: none

Update README.md
  README.md
Labels: documentation
